body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  height: 40px;
  background-color: #acb8ec;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.header span {
  font-weight: bold;
}

.kbc {
  font-size: 3.5vw;
  color: blue;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 87vw;
  margin: auto;
}

.flex-container > div {
  background-color: blue;
  width: 12.5vw;
  line-height: 2.1vw;
  margin: 5px;
  text-align: center;
  font-size: 1.5vw;
  color: white;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.optionsContainer > div {
  margin: 5px;
  text-align: center;
}

.optionsContainer > div > button {
  background-color: white;
  margin: 15px;
  color: blue;
  width: 50vh;
  height: 7vh;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 10px;
}

.next {
  background-color: white;
  color: blue;
  width: 25vh;
  height: 6vh;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  margin-right: 15px;
  font-weight: bold;
}
.next:active,
.optionsContainer > div > button:active {
  background-color: yellowgreen;
}
.quit {
  background-color: white;
  width: 25vh;
  height: 6vh;
  border: 2px solid yellowgreen;
  color: blue;
  border-radius: 10px;
  margin-right: 15px;
  font-weight: bold;
}
.quit:active {
  background-color: yellowgreen;
}

.timer {
  float: right;
  border: 1px solid red;
  color: white;
  background-color: red;
  margin-right: 50px;
  font-size: 3vh;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 20px;
}
.highlight {
  border: 2px dashed green;
  width: 570px;
  margin: auto;
  height: 35px;
  color: green;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.lifeline > button {
  background-color: darkolivegreen;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  margin: 10px;
}
.name {
  position: sticky;
  top: 0;
}
h3 {
  margin-top: 30px;
  font-size: 3.5vw;
  margin-bottom: 50px;
}
